body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }

  .pizza-container {
    position: relative;
    width: 300px;
    height: 200px;
  }

  .pizza {
    width: 300px;
    height: 100px;
    background-color:white;
    border-radius: 10px;
  }

  .pizza p {
    font-size: 25px;
  }

  .progress-bar {
    bottom: 0;
    left: 0;
    height: 20px;
    width: 0;
    background-color: green;
    border-radius: 10px;
    transition: width 500s linear;
  }
  
  @keyframes bakePizza {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) and (orientation: landscape) {
    
    body {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .progress-bar {
      height: 10px;
      display: flex;
      justify-content: center;
    }

    img{
      width: 1rem;
      height: 1rem;
      }

      .pizza-container {
        width: 100%;
      }
    
      p{
        font-size: 15px;
      }
  }