*{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: black; */
}
body{
    margin: 0;
    background-color: black;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    margin: 0;
}
h2{
    text-align: center;
    color: white;
    margin: 30px 0 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 30px;
    /* width: 100%; */
    height: auto;
    background-color: white;
    justify-content: space-evenly;
    color: black;
    text-align: center;
}
.col{
    margin: 10px;
}
label{
    display: block;
    width: 100%;
}
.pizza{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}
.pizza img{
    margin: auto;
}
.base, .type, .ingrédient{
    width: 60px;
    height: 60px;
}
.descript{
    font-weight: 600;
    margin: 0;
}
form{
    flex-direction: column;
    margin: auto;
    display: flex;
}
.button{
    text-align: center;
    gap: 10px;
}
#submit, #newPizza{
    background-color: bisque;
    text-align: center;
    width: 150px;
    padding: 5px;
    font-size: large;
    margin-bottom: 20px;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin: 0;
}
